<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}Social helostoma temminckii |{% endblock title %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <header>
      {% include 'navbar.html' %}
    <header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer class="footer">
      {% include 'footer.html' %}
    <footer>
  </body>
</html>
