<div class="container">
  <div class="columns">
    <div class="column is-4 has-text-centered is-hidden-tablet">
      <a class="title is-4" href="#"></a>
    </div>
    <div class="column is-4">
      <div class="level">
        <a
          class="level-item"
          href="https://www.misiontic2022.gov.co/portal/"
          target="_blank"
          >Mision tic</a
        ><a
          class="level-item"
          href="https://www.uninorte.edu.co/"
          target="_blank"
          >Uninorte</a
        >
      </div>
    </div>
    <div class="column is-4 has-text-centered is-hidden-mobile">
      <a class="title is-4" href="{{ url_for('index') }}"
        >Social helostoma temminckii</a
      >
    </div>
    <div class="column is-4 has-text-right">
      <div class="level">
        <a
          class="level-item"
          href="https://drive.google.com/drive/u/1/folders/1tq0_zIr9sTkSIP8kFIlRHhU31m1PDUfN"
          target="_blank"
          >Equipo 10</a
        ><a
          class="level-item"
          href="https://github.com/brayandiazc/social-helostoma-temminckii"
          target="_blank"
          >Repositorio</a
        >
      </div>
    </div>
  </div>
  <p class="subtitle has-text-centered is-6">
    © 2021 - Todos los derechos reservados
  </p>
</div>
