{% extends 'base.html' %}

<!--block title-->
{% block title %}{{ super() }}Bienvenido{% endblock title %}

<!--block content-->
{% block content %}

<!--section header-->
<section class="section is-medium">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column has-text-centered">
        <h2 class="title is-spaced">Bienvenidos a Helostoma</h2>
        <p class="subtitle">
          Ven y disfruta de la experiencia Helostoma, una red para que: conozcas, crees, compartas, comentes y disfrutes con tus amigos alrededor del mundo.
        </p>
        <a class="button is-medium is-primary" href="{{ url_for('register') }}"
          >¡Regístrate!</a>
      </div>
      <div class="column">
        <figure class="image is-4by3">
          <img
            src="{{ url_for('static', filename='images/how-to-start.svg')}}"
            alt=""
          />
        </figure>
      </div>
    </div>
  </div>
</section>

<!--section call to action-->
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">La Nueva Experiencia</h1>
      <h2 class="subtitle">
        Única, Privada, Segura. Una red Social para disfrutar en tu Telefono, Tablet o PC. Ahora todo está más cerca de ti, a tan solo un Clic.
      </h2>
      <div class="buttonsis-medium is-centered">
        <a
          class="control button is-medium is-primary"
          href="{{ url_for('register') }}"
          >¡Regístrate!</a
        ><a
          class="control button is-medium is-light"
          href="{{ url_for('ingreso') }}"
          >Inicia sesión</a
        >
      </div>
    </div>
  </div>
</section>

<!--section benefist-->
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">¿Por qué usar Helostoma?</h2>
    <div class="columns is-multiline is-centered">
      <div class="column is-8 is-4-widescreen">
        <div class="block">
          <img
            src="{{ url_for('static', filename='images/benefist-1.jpg')}}"
            alt=""
          />
        </div>
        <h4 class="title"><small class="number">1</small> Comparte</h4>
        <p>
          Una red para compartir tus creaciones, tus diseños, tus gustos. Un lugar donde puedes ser tú y desplegar todo tu talento a través de imágenes y/o fotografias.
        </p>
      </div>
      <div class="column is-8 is-4-widescreen">
        <div class="block">
          <img
            src="{{ url_for('static', filename='images/benefist-2.jpg')}}"
            alt=""
          />
        </div>
        <h4 class="title">
          <small class="number">2</small>Conéctate</h4>
        <p>
        Una red para conectarte con tus sueños, con tus amigos, con tus deseos, con lo que hacen otros, una red para conocer personas, para hacer amigos... para estar conectado.
        </p>
      </div>
      <div class="column is-8 is-4-widescreen">
        <div class="block">
          <img
            src="{{ url_for('static', filename='images/benefist-3.jpg')}}"
            alt=""
          />
        </div>
        <h4 class="title"><small class="number">3</small>Disfruta</h4>
        <p>
          Un lugar donde puedes descubrir lo que hacen otros, rememorar tus momentos y hacerlos inolvidables, un lugar para inspirarte y conocer a personas que disfrutan como tú.
        </p>
      </div>
    </div>
    <div class="buttonsis-medium is-centered">
      <a class="button is-medium is-primary" href="{{ url_for('register') }}"
        >¡Regístrate!</a
      >
    </div>
  </div>
</section>

<!--section testimonials-->
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Opiniones de nuestros usuarios</h2>
    <div class="columns">
      <div class="column">
        <div class="level">
          <div class="level-item">
            <figure class="image is-128x128">
              <img
                class="is-rounded"
                src="{{ url_for('static', filename='images/people-1.jpg')}}"
                alt=""
              />
            </figure>
          </div>
        </div>
        <p class="block">
          <em>"A través de <b>Helostoma</b> he tenido la posibilidad de publicitar mi trabajo, a la vez que he conocido el trabajo de otros, que muchas veces para inspirar el mio".</em>
        </p>
        <h5 class="title is-5">Diego Sinisterra</h5>
        <p class="subtitle">Diseñador Gráfico</p>
      </div>
      <div class="column">
        <div class="level">
          <div class="level-item">
            <figure class="image is-128x128">
              <img
                class="is-rounded"
                src="{{ url_for('static', filename='images/people-2.jpeg')}}"
                alt=""
              />
            </figure>
          </div>
        </div>
        <p class="block">
          <em>"Tengo afición por viajar y conocer lugares inolvidables. <b>Helostoma</b> me ha permitido descubrir nuevos destinos, pero sobre todo locaciones para mis fotografías. Es una ventana al mundo".</em>
        </p>
        <h5 class="title is-5">Claudia P. Cardigan</h5>
        <p class="subtitle">Fotografía, CNS News</p>
      </div>
      <div class="column">
        <div class="level">
          <div class="level-item">
            <figure class="image is-128x128">
              <img
                class="is-rounded"
                src="{{ url_for('static', filename='images/people-3.jpeg')}}"
                alt=""
              />
            </figure>
          </div>
        </div>
        <p class="block">
          <em>Navegando en <b>Helostoma</b> me he topado con ciento de culturas y experiencias, pero sobre todo con sabores... sí, a través de fotografías he descubierto y conectado con nuevos sabores del mundo culinario".</em>
        </p>
        <h5 class="title is-5">Roberto Milagrinni</h5>
        <p class="subtitle">Chef, Cocina internacional</p>
      </div>
    </div>
  </div>
</section>

<!--section call to action-->
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">La Nueva Red Social</h1>
      <h2 class="subtitle">
        Desentralizada, Privada, Segura, Personal. Una valiosa expriencia. Una gran oportunidad para ser tú, con los tuyos.
      </h2>
      <div class="buttonsis-medium is-centered">
        <a
          class="control button is-medium is-primary"
          href="{{ url_for('register') }}"
          >¡Regístrate!</a
        ><a
          class="control button is-medium is-light"
          href="{{ url_for('ingreso') }}"
          >Inicia Sesión</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock content %}
