{% extends 'authenticate.html' %}

<!--block title-->
{% block title %}{{ super() }}Inicia sesion{% endblock title %}

<!--block content-->
{% block content %}
<!--block content-->
<form class="box" action="/ingreso" method="POST">
  <h2 class="title has-text-centered">Inicia sesion</h2>
  {{ csrf_token }}
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input
        class="input"
        type="email"
        placeholder="e.g. alex@example.com"
        autofocus="true"
        autocomplete="email"
        required="true"
        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
        style="text-transform: lowercase"
        onkeyup="javascript:this.value=this.value.toLowerCase();"
        id="email"
        name="email"
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Contraseña</label>
    <div class="control">
      <input
        class="input"
        type="password"
        placeholder="Contraseña"
        required="true"
        minlength="6"
        id="passw"
        name="passw"
      />
    </div>
  </div>
  <div class="field">
    <button class="button is-link is-fullwidth">Inicia sesion!</button>
    {% if cadena!="" %}
    <a
      center
      class="title has-text-centered"
      style="color: red; font-size: 12px"
      >{{cadena}}</a
    >
    {%endif%}
  </div>
</form>
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p>
        No tienes cuenta? <a href="{{ url_for('register') }}">Registrate</a>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <a href="{{ url_for('index') }}">Social helostoma temminckii</a>
    </div>
  </div>
</nav>

{% endblock content %}
