{% extends 'base.html' %}

<!--block title-->
{% block title %}{{ super() }}Publicaciones{% endblock title %}

<!--block content-->
{% block content %}

<br>
    {% if  sesion_iniciada %}
        <p>Bienvenido</p>
        <br>
        {%  for key, mensajes in lista_mensaje.items() %}
            <h2>{{ mensajes.titulo }}</h2>
            <p>{{ mensajes.cuerpo }}</p>
            {%  for calificacion in mensajes.calificaciones %}
                <p>{{calificacion}} <a href="/msg/{{key}}">[Click aquí]</a> </p>
            {%endfor%}
        {%endfor%}

        <form action="/salir" method="post">
            {{ csrf_token }}
            <input type="submit" name="" value="Salir">
        </form>
    {% else %}
    <p>Para poder ver los mensajes debes inciar sesion: <a href="/msg">[Click aquí]</a></p>
    {% endif %}        
    
{% endblock content %}