<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">
        <img
          src="{{ url_for('static', filename='images/logo.svg')}}"
          height="28"
        />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start"></div>

      <div class="navbar-end">
        {% if sesion_iniciada %}
        <a href="{{ url_for('publicacion') }}" class="navbar-item">
          Publicaciones
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Username </a>

          <div class="navbar-dropdown">
            <a href="{{ url_for('msg') }}" class="navbar-item">
              Mensajes privados
            </a>
            <a class="navbar-item"> Mi perfil </a>
            <a class="navbar-item"> Editar perfil </a>
            <hr class="navbar-divider" />
            <a class="navbar-item"> Cerrar sesion </a>
          </div>
        </div>
        {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a href="{{ url_for('register') }}" class="button is-primary">
              <strong>Registrate</strong>
            </a>
            <a href="{{ url_for('ingreso') }}" class="button is-light">
              Inicia sesion
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
