{% extends 'base.html' %}

<!--block title-->
{% block title %}{{ super() }}Bienvenido{% endblock title %}

<!--block content-->
{% block content %}
<section class="section">
  <div class="container">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img
              src="http://lorempixel.com/256/256/people"
              alt="Image"
              class="is-rounded"
            />
          </figure>
        </div>
        <div class="media-content">
          <div class="content is-medium">
            <p>
              <strong>John Smith</strong> <small>@johnsmith</small>
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              efficitur sit amet massa fringilla egestas. Nullam condimentum
              luctus turpis.
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item" aria-label="reply">
                <span class="icon is-small">
                  <i class="fas fa-reply" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fas fa-retweet" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7"
                >13 Octubre 2021 | By Dinesh Chugtai</small
              >
            </div>
            <h5 class="title is-6">
              <a href="#">Why I'm the Best Programmer Ever</a>
            </h5>
            <p>
              I feel like not everybody outside of Pied Piper knows it, so I
              wanted to make it clear why I'm the best programmer in the world.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7"
                >13 Octubre 2021 | By Bertram Gilfoyle</small
              >
            </div>
            <h5 class="title is-6">
              <a href="#">Secrets of Decentralization</a>
            </h5>
            <p>
              What makes decentralization so great? Let me enlighten you with my
              wisdom
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Monica Hall</small>
            </div>
            <h5 class="title is-6">
              <a href="#">How Our ICO Almost Failed</a>
            </h5>
            <p>
              This is a short story about how we uncovered an insane problem
              with our ICO, fixed it, and still managed to secure vast funding.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Jared Dunn</small>
            </div>
            <h5 class="title is-6">
              <a href="#">Why Strong Tea Isn't Good For CEOs</a>
            </h5>
            <p>
              An exhaustive guide about how different teas can affect a CEO
              during their workday.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Jared Dunn</small>
            </div>
            <h5 class="title is-6">
              <a href="#">Why Strong Tea Isn't Good For CEOs</a>
            </h5>
            <p>
              An exhaustive guide about how different teas can affect a CEO
              during their workday.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Jared Dunn</small>
            </div>
            <h5 class="title is-6">
              <a href="#">Why Strong Tea Isn't Good For CEOs</a>
            </h5>
            <p>
              An exhaustive guide about how different teas can affect a CEO
              during their workday.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Jared Dunn</small>
            </div>
            <h5 class="title is-6">
              <a href="#">Why Strong Tea Isn't Good For CEOs</a>
            </h5>
            <p>
              An exhaustive guide about how different teas can affect a CEO
              during their workday.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Jared Dunn</small>
            </div>
            <h5 class="title is-6">
              <a href="#">Why Strong Tea Isn't Good For CEOs</a>
            </h5>
            <p>
              An exhaustive guide about how different teas can affect a CEO
              during their workday.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Jared Dunn</small>
            </div>
            <h5 class="title is-6">
              <a href="#">Why Strong Tea Isn't Good For CEOs</a>
            </h5>
            <p>
              An exhaustive guide about how different teas can affect a CEO
              during their workday.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Jared Dunn</small>
            </div>
            <h5 class="title is-6">
              <a href="#">Why Strong Tea Isn't Good For CEOs</a>
            </h5>
            <p>
              An exhaustive guide about how different teas can affect a CEO
              during their workday.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Jared Dunn</small>
            </div>
            <h5 class="title is-6">
              <a href="#">Why Strong Tea Isn't Good For CEOs</a>
            </h5>
            <p>
              An exhaustive guide about how different teas can affect a CEO
              during their workday.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="#"
              ><img
                src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2"
                alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7">13 Octubre 2021 | By Jared Dunn</small>
            </div>
            <h5 class="title is-6">
              <a href="#">Why Strong Tea Isn't Good For CEOs</a>
            </h5>
            <p>
              An exhaustive guide about how different teas can affect a CEO
              during their workday.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
