{% extends 'base.html' %}

<!--block title-->
{% block title %}{{ super() }}Publicaciones{% endblock title %}

<!--block content-->
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        {% for key, publicacion in lista_publicaciones.items() %}
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img
                src="http://lorempixel.com/1280/960/sports"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="http://lorempixel.com/96/96/people"
                    alt="Placeholder image"
                    class="is-rounded"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ publicacion.titulo }}</p>
                <p class="subtitle is-6">
                  username {{ publicacion.id_usuario }}
                </p>
              </div>
            </div>

            <div class="content">
              {{ publicacion.contenido }}
              <p class="subtitle is-6">
                Calificación: {{ publicacion.calificacion_id }}
                <img
                  src="{{ url_for('static', filename='images/favicon.png') }}"
                  alt="Placeholder image"
                  width="24px"
                  style="vertical-align: bottom"
                />
              </p>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
        <br />
        {%endfor%}
      </div>
      <div class="column is-offset-1 is-4 has-text-centered">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="level">
                <div class="level-item">
                  <figure class="image is-128x128">
                    <img
                      class="is-rounded"
                      src="http://lorempixel.com/96/96/people"
                      alt=""
                    />
                  </figure>
                </div>
              </div>
              <h5 class="title is-5">Richard Hendricks</h5>
              <p class="subtitle is-6">username</p>
              <p>
                When I'm not obsessively stressing about the fate of Pied Piper,
                I sometimes give lectures to school kids. Spend most of my time
                coding.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

<br />
{% if sesion_iniciada %}
<p>Bienvenido</p>
<br />
{% for key, publicacion in lista_publicaciones.items() %}
<h2>{{ publicacion.titulo }}</h2>
<p>{{ publicacion.cuerpo }}</p>
{% for imagen in publicacion.imagenes %}
<p>{{imagen}} <a href="/publicaciones/{{key}}">[Click aquí]</a></p>
{%endfor%} {%endfor%}

<form action="/salir" method="post">
  {{ csrf_token }}
  <input type="submit" name="" value="Salir" />
</form>
{% else %}
<p>
  Para poder ver la publicaciones debes inciar sesion:
  <a href="/publicaciones">[Click aquí]</a>
</p>
{% endif %}
