{% extends 'authenticate.html' %}

<!--block title-->
{% block title %}{{ super() }}Registrate{% endblock title %}

<!--block content-->
{% block content %}
<!--block content-->
  {% for message in get_flashed_messages() %}
  <div class="notification is-danger is-light has-text-centered">
    <button class="delete"></button>
    {{message}}
  </div>
  {%endfor%}
<form
  class="box"
  action="{{url_for('register')}}"
  id="formRegister"
  method="post"
  name="formRegister"
  
>
  {{ form.hidden_tag() }}
  <h2 class="title has-text-centered">Registro</h2>
  <div class="field">
    <label class="label" for="username">Nombre de usuario</label>
    <div class="control">
      <!--<input
        class="input"
        type="text"
        id="username"
        name="username"
        autocomplete="username"
        required="true"
        placeholder="pepitoperez"
      /> -->
      {{ form.usuario() }}
    </div>
  </div>

  <div class="field">
    <label for="email" class="label">Email</label>

    <div class="control">
      <!--<input
        class="input"
        type="text"
        id="email"
        name="email"
        maxlength="100"
        placeholder="e.g. alex@example.com"
        autocomplete="email"
        required="true"
        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
        style="text-transform: lowercase"
        onkeyup="javascript:this.value=this.value.toLowerCase();"
      /> -->
      {{ form.correo() }}
    </div>
  </div>

  <div class="field">
    <label for="password" class="label">Contraseña</label>    
    <div class="control">
      <!--<input
        class="input"
        type="password"
        id="password"
        name="password"
        placeholder="Contraseña"
        required="true"
        minlength="6"
      /> -->
      {{ form.clave(size=20) }}
    </div>
  </div>
  <div class="field">
    <label for="c_password" class="label">Confirmar contraseña</label>  
    <div class="control">
      <!--<input
        class="input"
        type="password"
        id="c_password"
        name="c_password"
        placeholder="Confirmar contraseña"
        required="true"
        minlength="6"
      /> -->
      {{ form.clave1(size=20) }} 
    </div>
  </div>
  <div class="field">
    <label class="checkbox" for="condiciones">
      <!--<input type="checkbox" name="condiciones" required="true" /> -->

      {{ form.estado() }}
      
      Aceptas <a href="#">terminos y condiciones</a>
    </label>
  </div>
  <div class="field">
    <!--<button class="button is-link is-fullwidth" type="submit" value="Enviar">
      Registrate!
    </button> -->
    {{ form.guardar() }}
  </div>
</form>

<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p>
        Ya tienes cuenta? <a href="{{ url_for('ingreso') }}">Inicia sesion</a>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <a href="{{ url_for('index') }}">Social helostoma temminckii</a>
    </div>
  </div>
</nav>

{% endblock content %}
