{% extends 'base.html' %}

<!--block title-->
{% block title %}{{ super() }}Registrate{% endblock title %}

<!--block content-->
{% block content %}
<!--block content-->
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5 is-4-desktop">
          {% for message in get_flashed_messages() %}
          <div class="notification is-danger is-light has-text-centered">
            <button class="delete"></button>
            {{message}}
          </div>
          {%endfor%}
          <h2 class="title has-text-centered">Registro</h2>
          <form
            action="{{url_for('register')}}"
            method="post"
            name="formRegistro"
            onSubmit="validar_formulario();"
          >
            <div class="field">
              <label class="label" for="nombre">Nombre</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  id="nombre"
                  name="nombre"
                  autofocus="true"
                  autocomplete="name"
                  required="true"
                /><br />
              </div>
            </div>

            <div class="field">
              <label class="label" for="username">Nombre de usuario</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  id="username"
                  name="username"
                  autocomplete="username"
                  required="true"
                />
              </div>
            </div>

            <div class="field">
              <label class="label" for="sexo">Sexo</label>
              <div class="control">
                <label class="radio">
                  <input type="radio" id="sexo" name="sexo" value="h" />
                  Hombre
                </label>
                <label class="radio">
                  <input type="radio" id="sexo" name="sexo" value="m" />
                  Mujer
                </label>
              </div>
            </div>

            <div class="field">
              <label for="correo" class="label">Email</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  id="correo"
                  name="correo"
                  maxlength="100"
                  placeholder="e.g. alex@example.com"
                  autocomplete="name"
                  required="true"
                  pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                  style="text-transform: lowercase"
                  onkeyup="javascript:this.value=this.value.toLowerCase();"
                />
              </div>
            </div>
            <div class="field">
              <label for="password" class="label">Contraseña</label>
              <div class="control">
                <input
                  class="input"
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                  required="true"
                />
              </div>
            </div>
            <div class="field">
              <label for="c_password" class="label">Confirmar contraseña</label>
              <div class="control">
                <input
                  class="input"
                  type="password"
                  id="c_password"
                  name="c_password"
                  placeholder="Confirmar contraseña"
                  required="true"
                />
              </div>
            </div>
            <div class="field">
              <label class="checkbox" for="condiciones">
                <input type="checkbox" name="condiciones" />
                Aceptas <a href="#">terminos y condiciones</a>
              </label>
            </div>
            <div class="field">
              <button
                class="button is-primary is-fullwidth"
                type="submit"
                value="Enviar"
              >
                Registrate!
              </button>
            </div>
            <a href="{{ url_for('index') }}">Social helostoma temminckii</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Scripts js-->
<script src="{{ url_for('static', filename='js/validacion.js') }}"></script>
{% endblock content %}
